<section class="browse-section" id="browse-section">
  <h2>Browse Trips</h2>
  <div class="container">
    <div class="row">
      <img class="icon icon-sm" ng-src="images/icons/search.png" alt="search">
      <input class="col-sm-8 form-control" ng-model="searchTerm" type="text" placeholder="Search by a destination or keyword">
    </div>
    <div class="row">
        <div class = "spinner-container">
          <svg mt-3 ng-hide = "dataLoaded" class="spinner" width="80px" height="80px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>

        
        <div class="col-sm-3 trip-card browse-trips card" ng-repeat ="trip in trips | filter: searchTerm">
          <img class="card-img-top" ng-src="{{trip.coverPhoto}}" alt="Picture of a place">
          <div class = "card-body">
            <a class ng-href="#!/view/{{trip.id}}"><h4 class = "name">{{trip.name}}</h4></a>
            <span class="trip-tags">{{trip.tags}}</span>
            <br>
            <h5 class = "trip-location">{{trip.location}}</h5>
            <span class="trip-author">Curated by {{trip.userName}}</span><br>
            <p class="trip-description">{{trip.description}}</p>
            <img class="icon icon-med favorite-icon pointer"  ng-show = "!trip.favorite && !trip.myTrip" ng-click="addFavorite(trip.id)" ng-src="images/icons/star.png" alt="Add trip to favorites">
            <img class="icon icon-med favorite-icon pointer" ng-show = "trip.favorite && !trip.myTrip" ng-src="images/icons/star-filled.png" alt="Favorited trip">
            <a ng-href="#!/edit/{{trip.id}}">
              <img ng-show="trip.myTrip" class="icon icon-sm" ng-src="images/icons/edit.png" alt="Edit Trip">
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
 
   


</section>