<section class="browse-section" id="browse-section">
  <h2>Browse Trips</h2>
  <div class="container">
    <div class="row">
      <div class="trip-card col-sm-4" ng-repeat ="trip in trips">
        <h4 class="trip-name">{{trip.name}}</h4>
        <h5 class="trip-author">Trip Author</h5>
          <p class="trip-description">{{trip.description}}</p>
          <button class="btn btn-secondary view-trip"><a ng-href = "#!/view/{{trip.id}}">View Trip</a></button>
      </div>
    </div>
  </div>
 
</section>