<section class="browse-section" id="browse-section">
  <h2>Browse Trips</h2>
  <div class="container">
    <div class="row">
      <input class="col-sm-8 form-control" ng-model="searchTerm" type="text" placeholder="Search trips">
    </div>
    <div class="row">
      <div class = "col-sm-6 m-1">
        <div class="trip-card card" ng-repeat ="trip in trips | filter: {searchTerm}">
          <img class="card-img-top" ng-src="{{trip.coverPhoto}}" alt="Picture of a place">
          <div class = "card-body">
            <h4 class="trip-name">{{trip.name}}</h4>
            <h5 class="trip-author">Trip Author</h5>
            <p class="trip-description">{{trip.description}}</p>
            <button class="btn btn-secondary view-trip"><a ng-href = "#!/view/{{trip.id}}">View Trip</a></button>
            <button class="btn btn-secondary add-favorite" ng-click="addFavorite(trip.id)">Add To Favorites</button>
          </div>
        </div>
      </div>
      <div class = "col-sm-5 m-1">
        <ng-map class="google-map-container" center="{{mapCenter}}" zoom="13" pan-control="true" zoom-control="true" scale-control="true">
          <marker ng-repeat="marker in markers track by $index" position={{marker}} title={{location.name}}
            id={{location.id}} on-click="showDetails(location)"></marker>
          <info-window id="details">
            <div ng-non-bindable>
              <h5>{{selectedLocation.name}}</h5>
              <p>{{selectedLocation.formatted_address}}</p>
              <p>{{selectedLocation.formatted_address}}</p>
            </div>
          </info-window>
        </ng-map>
      </div>
    </div>
  </div>
 
   


</section>