<div class="container">

  <div class = "header-image">
    <div class="header-text">
      <p>A crowd-sourced travel guide</p>
    </div>
  </div>
  
  <hr>
  <div class = "row instructions">
    <div class = "discover col-md-5 p-1 m-1 border-right">
      <h4>Discover</h4>
      <p>Browse or search through trips other people have built. You might just find inspiration for your next adventure!</p>
    </div>
    <div class = "create col-md-5 p-1 m-1">
      <h4>Create</h4>
      <p>Plan your dream trip or compile insider secrets about your home town.</p>
    </div>
  </div>
  <hr>

  <div class="row map">
    <h3 class = "map-header">Explore pre-planned trips all over the world.</h3>
    <p class = "map-header">Click on a marker to see details about each trip.</p>
    
    <ng-map class="homepage-map" zoom="2" center="{{mapCenter}}" pan-control="true" zoom-control="true" scale-control="true">
      <marker ng-repeat="trip in trips track by $index" position={{trip.startingPoint}} title={{trip.name}}
        id={{trip.startingPoint}} on-click="showDetails(trip)"></marker>
      <info-window id="details" class = "info-window">
        <div ng-non-bindable>
          <img class="image" ng-src="{{selectedTrip.coverPhoto}}">
          <h5>{{selectedTrip.name}}</h5>
          <span class = "heading">General Location:</span><br>
          <span class = "details">{{selectedTrip.location}}</span><br>
          <br>
          <span class = "heading">Description:</span><br>
          <span class = "details">{{selectedTrip.description}}</span><br>
          <br>
          <span class = "tags">{{selectedTrip.tags}}</span>
          <button class="btn btn-block view-trip">
            <a ng-href="#!/view/{{selectedTrip.id}}">View</a>
          </button>
        </div>
      </info-window>
    </ng-map>
  </div>

</div>