<div class = "header-image">
  <div class = "header-text"></div>
</div>

<div class = "container">
  <div class = "row instructions">
    <div class = "discover col-md-5 p-1 m-1">
      <h4>Discover</h4>
      <p>Browse or search through trips other people have built. You might just find inspiration for your next adventure!</p>
    </div>
    <div class = "create col-md-5 p-1 m-1">
      <h4>Create</h4>
      <p>Plan your dream trip or compile insider secrets about your home town. You can store your trips privately or post them publicly!</p>
    </div>
  </div>

  <div class = "map-container">
    <!-- map here with pins for each trip, info window gives info for each trip -->
  </div>
</div>