<h2>{{title}}</h2>
<div class="container">
  <div class="row">
    <div class="col-md search-container">
      <div id="search-bar-container">
        <h5>Search for places and add them to your trip</h5>
        <div class = "row">
          <input class="col-sm-8 form-control" ng-model = "searchString" type="text" placeholder="Hot chicken in Nashville">
          <button class="col-sm-4 btn btn-secondary" ng-click = "searchPlaces()">Search</button>
        </div>
      </div>
      <div class="search-results-container">
        <div ng-repeat = "result in searchResults" class="card trip-card" id = "place.id" style="width: 20rem;">
          <!-- <img class = "icon" ng-src = "{{result.icon}}"> -->
          <img class="card-img-top" ng-src="{{result.image}}" alt="Picture of a place">
          <div class="card-block">
            <h4 class="card-title">{{result.name}}</h4>
            <p class="card-text">{{result.formatted_address}}</p>
            <p class="card-text">Google Rating: {{result.rating}}</p>
            <button type="button" class="btn btn-secondary" ng-click="toggleReviews(result)">View Reviews</button>
             <!-- ng-click="isCollapsed = !isCollapsed" -->
            <div ng-show="isCollapsed">
              <div ng-repeat = "review in result.reviews track by $index" ng-show = "isCurrent($index)">
                <p>Rating: {{review.rating}}</p> 
                <p>Author: {{review.author_name}}</p> 
                <p>{{review.relative_time_description}}</p> 
                <p>Review: {{review.text}}</p> 
              </div>
              <button type = "button" class = "btn btn-secondary" ng-click = "nextReview()">Next Review</button>
            </div>
            <button ng-click = "addToTrip(result)" class="btn btn-primary">Add To Trip</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md trip-container">
      <h2>Your Trip</h2>
      <form class="options">
        <div class="form-group">
          <label for="trip-name">Name</label>
          <input type="text" ng-model = "trip.name" class="form-control" id="trip-name" placeholder="Best Hikes in Nashville">
        </div>
        <div class="form-group">
          <label for="trip-description">Description</label>
          <input type="text" class="form-control" ng-model = "trip.description" id="trip-description" placeholder="Awesome hikes less than 2 hours away">
        </div>
        <p>This trip is a:</p>
        <select class="form-control" ng-model = "trip.type" id="trip-type">
          <option value="itenerary">Itenerary</option>
          <option value="collection">Collection</option>
        </select>
      </form>

      <div id="my-trip"> 
        <div ng-repeat = "tripLocation in tripLocations track by $index" class="card" id="tripLocation.id" style="width: 20rem;">
          <img class="card-img-top" ng-src="{{tripLocation.image}}" alt="Picture of a place">
          <div class="card-block">
            <h4 class="card-title">{{tripLocation.name}}</h4>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Insider tips, funny stories, or detailed descriptions of this place </label>
              <textarea class="form-control" ng-model = "tripLocation.description" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>

      <button class="btn btn-secondary" ng-click = "saveTrip()">Save</button>
      <button class="btn btn-secondary" ng-click = "publishTrip()">Publish</button>
    </div>
  </div>
</div>