<h2>{{title}}</h2>

<div class = "container">
  <div class = "row">
    <div class="col s5 places-search">

      <nav>
        <div class="nav-wrapper">
          <form>
            <div class="input-field">
              <input id="search" type="search" required>
              <label class="label-icon" for="search">
                <i class="material-icons">search</i>
              </label>
              <i class="material-icons">close</i>
            </div>
          </form>
        </div>
      </nav>

      <div id="map" class="trip-builder-map"></div>

        <div class="card" ng-repeat="place in places">
          <div class="card-image">
            <img ng-src="{{image}}">
            <span class="card-title">{{place.name}}</span>
            <a class="btn-floating halfway-fab waves-effect waves-light red">
              <i class="material-icons">add</i>
            </a>
          </div>
          <div class="card-content">
            <p>{{place.formatted_address}}</p>
            <p>Google Rating: {{place.rating}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class = "col s2 divider hide-on-med-and-down"></div> -->
    <div class="col s6 my-trip">
      <h5>My Trip</h5>
        <textarea placeholder="Trip Title" , id="textarea1" class="materialize-textarea"></textarea>
        <textarea placeholder="Trip Description" , id="textarea1" class="materialize-textarea"></textarea>
        <textarea placeholder="Location" , id="textarea1" class="materialize-textarea"></textarea>
        <textarea placeholder="Tags" , id="textarea1" class="materialize-textarea"></textarea>
      

      <div class="card">
        <div class="card-content">
          <span class="card-title">Name</span>
          <p>Title</p>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <textarea placeholder = "Insider tips, personal anecdotes, or fun facts", id="textarea1" class="materialize-textarea"></textarea>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <a class="waves-effect waves-light btn">Save</a>
      <a class="waves-effect waves-light btn">Publish</a>

    </div>
  </div>
</div>
  
