<div class="container">
  <div class = "row">
    <h3 div class = "col-sm-8">{{trip.name}}</h3>
    <img class="icon icon-med favorite-icon pointer" ng-show="!trip.favorite" ng-click="addFavorite(trip.id)" ng-src="images/icons/star.png"
      alt="Add trip to favorites">
    <img class="icon icon-med favorite-icon pointer" ng-show="trip.favorite" ng-src="images/icons/star-filled.png" alt="Favorited trip">
  </div>
  <h4>Curated by {{trip.userName}}</h4>
  <p class="trip-description">{{trip.description}}</p>
  <div class = "row">
    <div class = "col-sm-6 p-2">
        <div ng-show="tripLoading" class="spinner-container">
          <svg mt-3 ng-hide="tripLoaded" class="spinner" width="80px" height="80px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
      <div class = "row trip-container">
        <div ng-repeat="location in tripLocations track by $index" class="card col-md-8 m-1" id="place.id" style="width: 20rem;" ng-mouseover = "setMapCenter(location)">
          <img class="card-img-top" ng-src="{{location.image}}" alt="{{location.name}}">
          <div class="card-block">
            <h4><a class="card-title" href = "{{location.website}}" target = "_blank">{{location.name}}</a></h4>
            <span class="card-text">{{location.vicinity}}</span><br>
            <strong>Insider tips:</strong>
            <span class="card-text">{{location.description}}</span><br>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-sm-6 p-2">
      <ng-map class="google-map-container" center="{{mapCenter}}" zoom="13" pan-control="true" zoom-control="true" scale-control="true">
        <marker ng-repeat = "location in tripLocations track by $index" position={{location.formatted_address}} title={{location.name}} id={{location.id}} on-click = "showDetails(location)"></marker>
        <info-window id="details">
          <div ng-non-bindable>
            <h5>{{selectedLocation.name}}</h5>
            <p>{{selectedLocation.formatted_address}}</p>
          </div>
        </info-window>
      </ng-map>
    </div>
  </div>
</div>