<div class="container">
  <div class = "row">
    <h3 div class = "col-sm-8">{{trip.name}}</h3>
    <button type = "button" class = "btn btn-primary col-sm-3 add-favorite" ng-click = "addFavorite()">Add To Favorites</button>
  </div>
  <h4>{{trip.userName}}</h4>
  <p class="trip-description">{{trip.description}}</p>
  <div class = "row">
    <div class = "col-sm-6 p-2">
      <div class = "row trip-container">
        <div ng-repeat="location in tripLocations track by $index" class="card col-md-8 m-1" id="place.id" style="width: 20rem;" ng-mouseover = "setMapCenter(location)">
          <img class="card-img-top" ng-src="{{location.image}}" alt="{{location.name}}">
          <div class="card-block">
            <h4><a class="card-title" href = "{{location.website}}" target = "_blank">{{location.name}}</a></h4>
            <span class="card-text">{{location.vicinity}}</span><br>
            <strong>Insider tips:</strong>
            <span class="card-text">{{location.description}}</span><br>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-sm-6 p-2">
      <ng-map class="google-map-container" center="{{mapCenter}}" zoom="13" pan-control="true" zoom-control="true" scale-control="true">
        <marker ng-repeat = "location in tripLocations track by $index" position={{location.formatted_address}} title={{location.name}} id={{location.id}} on-click = "showDetails(location)"></marker>
        <info-window id="details">
          <div ng-non-bindable>
            <h5>{{selectedLocation.name}}</h5>
            <p>{{selectedLocation.formatted_address}}</p>
          </div>
        </info-window>
      </ng-map>
    </div>
  </div>
</div>