<div class = "container">
  <h4>{{errorMessage}}</h4>
  <div class = "row p-1">
    <div class = "col-sm-8 p-1">
      <div class = "row public-trips">
        <h4>Public Trips</h4>
      <!-- public trip card -->
        <div class = "row">
          <div class="trip-card col-sm-4" ng-repeat="trip in trips" ng-show = "!trip.private">
            <img class="card-img-top" ng-src="{{trip.coverPhoto}}" alt="Picture of a place">
            <div class = "card-body">
              <h4 class="trip-name">{{trip.name}}</h4>
              <p class="trip-description">{{trip.description}}</p>
              <div class = "button-group">
                <button class="btn btn-secondary edit-trip">
                  <a ng-href="#!/edit/{{trip.id}}">Edit</a>
                </button>
                <button class="btn btn-secondary delete-trip">
                  <a ng-click="deleteTrip(trip.id)">Delete</a>
                </button>
                <button class="btn btn-secondary view-trip">
                  <a ng-href="#!/view/{{trip.id}}">View</a>
                </button>
              </div>
            </div>
          </div> 
        </div>
      </div>
      <!-- private trip card -->
      <h4>Private Trips</h4>
      <div class = "row private-trips">
          <div class="trip-card col-sm-4" ng-repeat="trip in trips" ng-show = "trip.private">
            <img class="card-img-top" ng-src="{{trip.coverPhoto}}" alt="Picture of a place">
            <div class = "card-body">
              <h4 class="trip-name">{{trip.name}}</h4>
              <p class="trip-description">{{trip.description}}</p>
              <div class = "button-group">
                <button class="btn btn-secondary edit-trip">
                  <a ng-href="#!/edit/{{trip.id}}">Edit</a>
                </button>
                <button class="btn btn-secondary delete-trip" ng-click = "deleteTrip(trip.id)">Delete</button>
                <button class="btn btn-secondary view-trip">
                  <a ng-href="#!/view/{{trip.id}}">View</a>
                </button>
              </div>
            </div>
          </div>
      </div>
    </div><!-- end of my-trips column -->
    
    <div class = "col-sm-4"><!-- begin favorite trip column -->
      <h4>Favorite Trips</h4>
      <!-- favorite trip card -->
      <div class = "row">
        <div class="trip-card col-sm-8" ng-repeat="fave in faves track by $index">
          <img class="card-img-top" ng-src="{{fave.coverPhoto}}" alt="Picture of a place">
          <div class = "card-body">
            <h4 class="trip-name">{{fave.name}}</h4>
            <p>{{fave.userName}}</p>
            <p class="trip-description">{{fave.description}}</p>
            <button class="btn btn-secondary view-trip">
              <a ng-href="#!/view/{{fave.id}}">View</a>
            </button>
            <!-- <button class="btn btn-secondary remove-trip" ng-click = "deleteFave(fave)">Remove From Favorites</button> -->
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end of row  -->
</div><!-- end of container -->