<div class = "container">
<h2>{{title}}</h2>

<div class="section">
  <h5>Public Trips</h5>
  <p>Other users can see these trips.</p>
  <div class="row">
    <div class="col s6 my-trip">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Place Name</span>
          <p>Place Address</p>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <p>Insider tips, personal anecdotes, or fun facts</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="section">
  <h5>Private Trips</h5>
  <p>You've saved these trips, but nobody else can see it.</p>
  <div class="row">
    <div class="col s6 my-trip">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Place Name</span>
          <p>Place Address</p>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <p>Insider tips, personal anecdotes, or fun facts</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <h5>Favorite Trips</h5>
  <p>These are your favorite trips.</p>
  <div class="row">
    <div class="col s6 my-trip">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Place Name</span>
          <p>Place Address</p>
          <div class="row">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s12">
                  <p>Insider tips, personal anecdotes, or fun facts</p>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</div>