<div ng-controller="NavCtrl">
  <nav class="navbar navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#!/home">
      <img class="logo" ng-src="../images/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#!/browse">Browse Trips</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/buildtrip">Build Trip</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!/mytrips">My Trips</a>
        </li>
        <div class="nav-item">
          <button ng-click="switchUserState()" type="button" class="btn btn-secondary nav-link">{{buttonText}}</button>
        </div>
      </ul>
    </div>
  </nav>
</div>
