$primary-color: rgb(108, 206, 168);
$secondary-color: rgb(41, 103, 136);
$font-color-medium: rgb(107, 107, 107);
$font-color-dark: rgb(66, 65, 65);
$font-color-light: rgb(240, 240, 240);




*{
    padding: 0.5em;
    font-family: 'Roboto', sans-serif;
    color: $font-color-dark;
}

nav{
    background-color: $primary-color;
    a{
        color: $font-color-dark;
    }
    a:hover{
        color: $font-color-light;
    }
    .logo{
        width: 9.5rem;
        height: 3rem;
    }
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif; 
}

.searchbar{
    height: 1.5em;
    background-color: rgb(224, 224, 224);
}

.search-button{
    background-color: $secondary-color;
}

.trip-container{
    height: 80vh;
    overflow: scroll;
}

.browse-trips{
    height: 75vh;
    .trip-name{
        font-size: 1.2rem;
    }
    .trip-author, .trip-description{
        font-size: 1rem;
    }
    .trip-tags{
        color: $secondary-color;
        font-size: 0.8rem;
    }
    button{
        border: none;
    }

    .view-trip{
        background-color: $secondary-color;
    }

    .add-favorite{
        background-color: $primary-color;
    }
}
.trip-card{
    img{
        object-fit: cover;
        width: 100%;
        height: 30%;
    }
    .name{
        font-size: 0.9rem;
    }
    .address, .rating{
        font-size: 0.8rem;
        color: $font-color-medium;
    }
    .review-container{
        font-size: 0.8rem;
        color: $font-color-medium;
        .review-text{
            font-size: 0.7rem;
        }
    }
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   
    .button-group{
        display: flex;
        flex-wrap: wrap;
    }
    button{
        margin: 0.3em;
    }
    .toggle-reviews, .next-review{
        background-color: $secondary-color;
    }
    .add-to-trip{
        background-color: $primary-color;
    }
    a{
        color: white;
    }
  
}

.trip-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.search-container{
    margin: 1em;
}

.search-results-container{
    height: 80vh;
    overflow: scroll;
}

.save-button{
    background-color: $secondary-color;
}

.publish-button{
    background-color: $primary-color;
}

.google-map-container { 
    height: 80vh;
 }